    <footer class="bd-footer bg-body-tertiary">
      <div class="py-3 text-center">
        <p>
          This website is made with <a href="https://getbootstrap.com" target="_blank" rel="noopener">Bootstrap</a>,
          themed with <a href="https://bootswatch.com" target="_blank" rel="noopener">Bootswatch</a>.
        </p>
        <p>
          jq is licensed under the MIT license (code) and the
          <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">CC-BY-3.0</a> license (docs).
        </p>
      </div>
    </footer>
