<!DOCTYPE html>
<html lang="en">
  <!-- based on manual.html.j2 from jq -->
  <head>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="base.css" rel="stylesheet">
  </head>
  <body>
    <h1>{{headline}}</h1>
    {{ body | markdownify }}
    {% for section in sections %}
      <section id="{{section.title | section_id}}">
        <h2>{{section.title}}</h2>
        {{ (section.body | markdownify) if section.body }}
        {% for entry in section.entries %}
          <section id="{{entry.title | entry_id}}">
            <h3>
              {{entry.title | markdownify | no_paragraph }}{% if entry.subtitle %}<small>{{entry.subtitle}}</small>{% endif %}:
            </h3>
            {{entry.body | markdownify}}

            {% if entry.examples %}
              <div>
                {% if entry.examples | length > 1 %}Examples{%else%}Example{%endif%}
                <div class="manual-example">
                  {% for example in entry.examples %}
                    <table>
                      <tr><th></th><td class="jqprogram">jq '{{ example.program }}'</td></tr>
                      <tr><th>Input</th><td>{{ example.input }}</td></tr>
                      {% if not example.output[0] %}
                        <tr>
                          <th>Output</th>
                          <td><i>none</i></td>
                        </tr>
                      {% endif %}
                      {% for output in example.output %}
                        <tr>
                          {% if loop.first %}
                            <th>Output</th>
                          {% else %}
                            <th></th>
                          {% endif %}
                          <td>{{ output }}</td>
                        </tr>
                      {% endfor %}
                    </table>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </section>
        {% endfor %}
      </section>
    {% endfor %}
  </body>
</html>
