@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url(opensens-italic-400.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url(opensens-italic-700.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(opensens-normal-400.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(opensens-normal-700.ttf) format('truetype');
  }